.form {
    width: 250px;
}

.form input, .form select {
    width: 100%;
    margin: 5px 0;
}

.form__actions {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.react-datepicker-wrapper {
    width: 100%;
}