.list {
    margin-top: 25px;
    border: 2px solid var(--gray);
    width: 50rem;
    font-size: var(--font-size-medium);
}

.list__headers {
    background: var(--off-white);
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 10px;
    border-bottom: 2px solid var(--gray);
}

.list__header {
    font-weight: bold;
}
